.technologies__cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 150px;
  height: 200px;
}

@media (max-width: 425px) {
  .technologies__cell {
    margin: 0;
  }
}
