.technologies__frontend {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 700px) {
  .technologies__frontend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
