.about__text-container {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about__link {
    text-decoration: none;
    color: chartreuse;
}